@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');


html, body {
    height:100%;
    margin: 0;
    padding: 0;
}


body{
    background: url("img/main-page-images/main-background.png") no-repeat;
    background-size: cover;
}

a, a:hover{
    text-decoration: none;
}

button{
    border-radius: 5px;
    padding: 12px 44px;

    transition: opacity .3s linear;
}

button:hover{
    cursor: pointer;
    opacity: 1;
}

.image{
    display: block;
    margin: auto;
}

.image-align{
    text-align: center;
}

.signIn{
    margin-right: 30px;
    font-family: 'Sunflower', sans-serif;
    font-size: 24px;
    color:#A70E04;
    background: #2D0404;
    opacity: 0.4;
    border: 2px solid #C61717;
    box-sizing: border-box;


}

.logIn{
    font-family: 'Sunflower', sans-serif;
    font-size: 24px;
    color: #300001;
    background: #FF0000;
    opacity: 0.7;
    border: none;
}

.main_header{
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Sunflower', sans-serif;
    font-size: 24px;
    color: #ffffff;
}

.main_footer {
    margin: -80px auto;
    text-align: center;
    color: #9FE8FF;
    font-family:  'Sunflower', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
}


.main_nav,
.main_auth{
    display: inherit;
}

/*.main-header-auth>form{*/

/*}*/

.main_nav>a{
    margin: auto 35px;
    color: #ffffff;

    transition: opacity .3s linear;
}

.main_nav>a:hover{
    opacity: 0.5;
}

::-webkit-scrollbar {
    width: 0;
}

@media (min-width: 720px) and (max-width: 1280px) {
    .main_header{
        width: 90%;
        margin: 5px auto;
    }

    .main_logo{
        width: 75%;
        display: flex;
        justify-content: center;
        margin: 20px auto;
    }
}

@media (min-width: 505px ) and (max-width: 720px) {
    .main_header{
        width: 90%;
        margin: 5px auto;
    }

    .main_logo{
        width: 75%;
        display: flex;
        justify-content: center;
        margin: 20px auto;
    }
}

@media (max-width: 720px){
    body{
        height: 100%;
        background: url("img/main-page-images/main-background.png") no-repeat fixed;
        background-size: cover;

    }

    .main_header{
        width: 75%;
        margin: 10px auto;
    }

    .main_logo{
        width: 75%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .main_nav,
    .main_header>a{
        display: none;
    }

    .logIn{
        margin-left: 50px;
    }

    .signIn{
        margin-left: 0;}
    
    .main_auth{
        width: 90%;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }

    .main-footer{
        margin-top: -50px;
    }

}
