@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');

html, body, .content {height:100%}

body{
    background: url("../../img/main-page-images/back.png") no-repeat;
    background-size: cover;
}

a,
a:hover,
button{
    text-decoration: none;
    color: #C40F0F;
    font-family: Unkempt, sans-serif;
    font-size: 24px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 50%;
    border: 2px solid #5A4459;
    padding: 15px 30px;
    background: #0E020D;
}

.form-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 30px;
}

.form-header>span{
    font-family: Unkempt, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 78px;

    color: #FFFFFF;
}

.form-auth{
    margin: 40px auto;
    display: flex;
    flex-direction: column;
}

.form-auth>input{
    border: none;
    width: 75%;
    border-bottom: 1px solid #CB0404;
    background-color: inherit;

    font-family: Sunflower, sans-serif;
    font-size: 24px;

    padding-bottom: 15px;
    color: #ffffff;
}


.form-auth>input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.form-auth>*{
    margin: 15px auto;
}

.form-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.form-buttons>*{
    margin: 0 25px;
}

button{
    padding: 12px 44px;
    background: #2D0404;
    opacity: 0.4;
    border: 2px solid #C6171766;
    box-sizing: border-box;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
}

.icon{
    display: flex;
    justify-content: flex-end;
    margin: 0 95px;

    transition: width, height 1s linear;
}

@media (min-width: 0px) {
    .form {
        width: 90%;
    }
    .form-header>span{
        font-size: 36px;
    }
}

@media (min-width: 768px) {
    .form {
        width: 70%;
    }
}

@media (min-width: 1024px) {
    .form {
        width: 50%;
    }
}