@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');

.body{
    background-color: #130909;
    box-sizing: border-box;
}

html, body, .container{
    height:100%;
    margin: 0;
    padding: 0;
}


a, a:hover{
    text-decoration: none;
}

button{
    border-radius: 5px;
    padding: 12px 44px;

    transition: opacity .3s linear;
}

button:hover{
    cursor: pointer;
    opacity: 1;
}



.signIn{
    margin-right: 30px;
    font-family: 'Sunflower', sans-serif;
    font-size: 24px;
    color:#A70E04;
    background: #2D0404;
    opacity: 0.4;
    border: 2px solid #C61717;
    box-sizing: border-box;


}

.logIn{
    font-family: 'Sunflower', sans-serif;
    font-size: 24px;
    color: #300001;
    background: #FF0000;
    opacity: 0.7;
    border: none;
}

.main_header{
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Sunflower', sans-serif;
    font-size: 24px;
    color: #ffffff;
}


.main_nav,
.main_auth{
    display: inherit;
}

/*.main-header-auth>form{*/

/*}*/

.main_nav>a{
    margin: auto 35px;
    color: #ffffff;

    transition: opacity .3s linear;
}

.main_nav>a:hover{
    opacity: 0.5;
}

.main_icon{
    transition: opacity .5s linear;
}


.main_icon:hover{
    opacity: .7;
}

::-webkit-scrollbar {
    width: 0;
}


.playlist{
    max-width: 1420px;
    margin: 125px auto 50px;
}

.playlist_content{
    margin: 15px auto 50px;
    padding:0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

/* .playlist_content>*{
    position: relative;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    text-align: center;
} */



h1{
    font-family: 'Sunflower', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    font-size: 55px;
}

span{
    font-family: Sunflower, sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: #FFFFFF;
}

h1,
span{
    margin-left: 0;
}

figure {
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 390px;
}

.grid-item{
    transition: all .3s ease-in-out;
}

.grid-item:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.playlist_innerinfo>button{
    border: 5px solid #93030B;
    background-color: #000;
    color: #fff;
    padding: 12px 31px;
    font-size: 24px;
    margin-left: 100px;
}


@media (max-width: 505px) {
    /* body {
        background-color: red;
    } */
    .main_nav {
        display: none;
    }
    .main_auth {
        display: none;
    }
    .main_auth a button {
        margin-right: 0;
        font-size: 16px;
        height: 100%;
        margin-right: 10px;
    }
    .main_header {
        margin: 0;
        justify-content: space-between;
    }
    .playlist {
        margin-top: 30px;
    }
    .playlist_info {
        margin: 0 20px;
    }
    .playlist_info h1 {
        font-size: 24px;
    }
    .playlist_innerinfo span {
        font-size: 15px;
        display: block;
        margin-bottom: 20px;
        margin-bottom: 26px;
    }
    .playlist_innerinfo button {
        display: none;
    }
    .playlist_content {
        padding: 10px;
        margin: 20px 20px 0;
        border: 5px solid red;
        grid-template-columns: 1fr 1fr;
    }
    .item_6 {
        display: none;
    }
    .fullscreen_item {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        max-height: 250px;
    }
    .fullscreen_item img {
        height: auto;
        object-fit: contain;
    }
}

@media (min-width: 506px) and (max-width: 768px) {
    body {
        background-color: orange;
    }
    .main_header {
        padding: 0 10px;
    }
    .main_nav {
        display: none;
    }
    .main_auth {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 5px;
    }
    .main_auth a button {
        margin-right: 0;
        font-size: 16px;
        height: 100%;
    }
    .main_header {
        margin: 0;
        justify-content: space-between;
    }
    .playlist {
        margin-top: 30px;
    }
    .playlist_info {
        margin: 0 20px;
    }
    .playlist_info h1 {
        font-size: 48px;
    }
    .playlist_innerinfo span {
        font-size: 20px;
        display: block;
        margin-bottom: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    body {
        background-color: pink;
    }
    .main_header {
        padding: 0 10px;
    }
    .main_nav {
        /* display: none; */
    }
    .main_nav a {
        margin: 0;
        margin-right: 20px;
    }
    .main_auth {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 5px;
    }
    .main_auth a button {
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 0;
        font-size: 16px;
        height: 100%;
    }
    .main_header {
        margin: 0;
        justify-content: space-between;
    }
    .playlist_info {
        margin: 0 20px;
    }
    .playlist_info h1 {
        font-size: 54px;
    }
    .playlist_innerinfo span {
        font-size: 20px;
        display: block;
        margin-bottom: 20px;
    }
}
