@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

.body{
    background-color: #130909;
    box-sizing: border-box;
}



html, body, .container{
    height:100%;
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}

a, a:hover{
    text-decoration: none;
}
button{
    border-radius: 5px;
    padding: 12px 44px;

    transition: opacity .3s linear;
}

button:hover{
    cursor: pointer;
    opacity: 1;
}



.signIn{
    margin-right: 30px;
    font-family: 'Sunflower', sans-serif;
    font-size: 24px;
    color:#A70E04;
    background: #2D0404;
    opacity: 0.4;
    border: 2px solid #C61717;
    box-sizing: border-box;


}

.logIn{
    font-family: 'Sunflower', sans-serif;
    font-size: 24px;
    color: #300001;
    background: #FF0000;
    opacity: 0.7;
    border: none;
}

.main_header{
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Sunflower', sans-serif;
    font-size: 24px;
    color: #ffffff;
    width: 75%;
}


.main_nav,
.main_auth{
    display: inherit;
}

/*.main-header-auth>form{*/

/*}*/

.main_nav>a{
    margin: auto 35px;
    color: #ffffff;

    transition: opacity .3s linear;
}

.main_nav>a:hover{
    opacity: 0.5;
}

.main_icon{
    transition: opacity .5s linear;
}


.main_icon:hover{
    opacity: .7;
}

::-webkit-scrollbar {
    width: 0;
}
.playlist{
    max-width: 1420px;
    margin: 125px auto 50px;
}

.playlist_content{
    margin: 15px auto 50px;
    padding:0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-item{
    margin: 2px;
    transition: all .3s ease-in-out;
}

.grid-item:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.price{
    max-width: 1650px;
    margin: 75px auto 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* .playlist_content>*{
    position: relative;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    text-align: center;
} */

.premial:hover,
.cheap:hover{
    cursor: pointer;
}

.cheap{
    max-width: 750px;
    background-color: #3D2323;


    padding-left: 30px;
}

.cheap li{
    color: #FFFFFF;
    margin: 20px auto;
}

.premial li{
    color: #CC0303;
}

.premial{
    max-width: 750px;
    padding-left: 30px;

    background-color: #3C0007;
    border: 5px solid #E90000;
}

.premial_innerinfo{
    font-size: 36px;
    font-weight: 300;
}

.subscriptions{
    max-width: 1650px;
    margin: 75px auto;
}

.info__form>span{
    font-family: 'Cairo', sans-serif;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.info__form>button{
    font-size: 14Spx;
    font-family: 'Cairo', sans-serif;
    color: #0A142F;

    padding: 19px 40px 19px 19px;
}

h1{
    font-family: 'Sunflower', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    font-size: 48px;
}

span{
    font-family: 'Sunflower', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.6);
}

h1,
span{
    margin-left: 0;
}


h2{
    font-family: 'Sunflower', sans-serif;
    font-weight: 300;
    color:#C95151;
    font-size: 55px;
}

span{
    font-family: 'Sunflower', sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: #FFFFFF;
}

h2,
span{
    margin-left: 0;
}

.footer{
    border: 2px solid #FF0000;
    max-height: 380px;
    height: 100%;
    margin:0;
    width: 100%;
    background-color: #000;
}

.footer_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.footer_container>*{
    margin: 35px auto 0;
}

.footer__bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:75%;
    margin: 40px auto 20px;
}
.footer_social>img{
    padding: 15px;
    border: 1.5px solid gray;
    border-radius: 40px;
    margin-right: 19px;
}

.footer_social>img:hover{
    cursor: pointer;
}

.info__innerinfo>ul>li{
    list-style: none;
}

.indent{
    margin-top: 20px;
}

.info__links>span{
    margin-left: 30px;
}

.info__links>ul{
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.info__innerinfo>ul{
    padding-inline-start: 0;
}

.info__links>ul>li{
    text-align: center;
    margin:20px 30px;
    font-size: 16px;
    font-family: 'Cairo', sans-serif;
    color: gray;
    list-style: none;
    color: #fff;
}


.info__links>ul>li:hover{
    cursor: pointer;
}

.gameTime{
    display: flex;
    align-items: center;
}


.info__form{
    display: flex;
    flex-direction: column;
}

hr{
    width: 75%;
    margin: 15px auto;
}


.icon{
    display: flex;
    justify-content: flex-end;
    margin: 0 95px;

    transition: width, height 1s linear;
}

@media (max-width: 505px)

{

    .cheap_info>span,
    .cheap_innerinfo>ul>li>span,
    .premial_info>span,
    .premial_innerinfo>ul>li>span{
        font-size: 16px;
    }

    h2{
        font-size: 20px;
    }

    .footer{
        display: none;
    }

    .price{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }


}

@media (max-width: 720px){

    .rights,
    .footer_social,
    .info__form,
    .info__links,
    .footer__info,
    hr,
    .main_nav,
    .main_auth{
        display: none;
    }

    .footer__bottom{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer{
        border:none;
        background-color: #130909;
        max-height: 60px;
        height: 100%;
    }

    .gameTime{
        margin-bottom: 20px;
    }
    
    .main_header{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .cheap{
        margin-top: 15px;
        margin-bottom: 30px;
        padding-right: 30px;
    }
    

    .subscriptions{
        margin-left: 30px;
    }


    .price{
        margin: 15px auto;
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

    }

}

@media (min-width: 720px) and (max-width: 1280px){

    .subscriptions{
        margin-left: 30px;
    }

    .price{
        margin: 15px auto;
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

    }

    .footer>*{
        width: 90%;
        margin: 5px auto;
    }

    .premial,
    .cheap{
        width: 75%;
        margin: 20px auto;
    }

}
